@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-gray-300: #d1d5db; /* Definición de la variable */
}

html {
    background-color: var(--bg-gray-300);
}

.shadow-bottom {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}